version: '3'
services:
  prometheus:
    image: prom/prometheus:v2.2.1
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
  grafana:
    image: grafana/grafana:5.0.4
    container_name: grafana
    ports:
      - 3000:3000
    env_file:
      - ./grafana.env
